[Unit]
Description=WSO2 {{ wso2am_profile }}
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
PIDFile={{ wso2am_pid_path_map[wso2am_profile] }}
ExecStart={{ wso2am_start_command_map[wso2am_profile] }}
ExecStop={{ wso2am_stop_command_map[wso2am_profile] }}
SuccessExitStatus=143
Environment="JAVA_HOME={{ wso2am_java_home }}"
Environment="CARBON_HOME={{ wso2am_dir }}"
Environment="JAVA_OPTS={{ wso2am_java_opts | join(' ') }}"
Environment="JVM_MEM_OPTS={{ wso2am_java_memory_opts | join(' ') }}"
User={{ wso2am_user }}
Group={{ wso2am_group }}
LimitNPROC={{ wso2am_limit_nproc }}
LimitNOFILE={{ wso2am_limit_no_file }}
